<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Services</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.302474268457-74rlmsst8afldos3rhk744l68da3pa3g</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Assets.xcassets/AppIcon.appiconset/58</string>
		</dict>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Medium.ttf</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>odeba</string>
	<key>CFBundleIdentifier</key>
	<string>com.odeba.app</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>odeba</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ODEBA needs to access your location for better suggestions</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ODEBA needs to access your location for better suggestions</string>
	<key>NSLocationUsageDescription</key>
	<string>ODEBA needs to access your location for better suggestions</string>
	<key>Proivacy-Camera Usage Description</key>
	<string>OEBA may need to access our camera for QR Code scanning</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ODEBA may need to access your gallary to pick photos and videos</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
</dict>
</plist>
